.row{
    margin-right: 0;
    margin-left: 0;
}

.services {
    padding-bottom: 100px;
    .service-item {
        text-align: center;
        img{
            max-width: 100%;
            overflow: hidden;
            border: 10px solid #eaf0ff;
            border-radius: 50%;
        }
        h4{
            margin-top: 20px;
            font-size: 22px;
            color: #121212;
            font-family: 'Spectral', serif;
            font-weight: 600;
            margin-bottom: 0px;
            text-decoration: none;
        }
        a{
            text-decoration: none;
        }
    }
    .service-item1 {
        text-align: center;
        img{
            max-width: 100%;
            overflow: hidden;
            border: 10px solid #eaf0ff;
            border-radius: 50%;
        }
        h4{
            margin-top: 20px;
            font-size: 22px;
            color: #121212;
            font-family: 'Spectral', serif;
            font-weight: 600;
            margin-bottom: 0px;   
        }
        a{
            text-decoration: none;
        }
    }
}
